.text.cyan {
    color:cyan;
}
.slider {
   height: 970px;
}
@media (max-width: 1024px) {
    .slider {
        margin-top:60px;
        height: 600px;
    }
}
@media (max-width:768px) {
    .slider {
        margin-top:100px;
        height: 400px;
    }
}
@media (max-width:414px) {
    .slider {
        height: 265px;
    }
}
.Presentacion {
    background-color: #282c34;
    color: cyan;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
