#cartTitles {
    display:flex;
    justify-content: space-around;
}
#cartProducts {
    display:flex;
    justify-content: space-around;
}
#cartTotal {
    text-align: end;
    margin-top: 250px;
    margin-right: 180px;
    font-size: 1.5rem;
}
#iconTrash {
    cursor: pointer;
}
#iconTrash:hover {
    color: red;
}
#cart {
    color:white;
    margin-top:100px;
    margin-bottom: 55px;
}
