.nav {
    background-color: #282c34;
    height: 100px;
}
.text-cyan {
    color:cyan !important;
}
.bg-cyan {
    background-color: #282c34;
}
.collapse {
    background-color: #282c34;
    width: 100%;
}
.facebook,
.instagram {
    color: cyan;
    font-size: 1.5em;
    text-align: center;
}