/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#hello {
  border: 1px solid green;
}*/
body {
  background-color: #282c34;
}
.centrar {
  margin-top: 50px;
  padding: 5px;
  border-radius: 8px;
  background-color: cyan;
  color: #282c34;
}
/*.center {
  text-align: center;
}
.item {
  background-color: transparent;
  color: #282c34;
  padding: 5px;
  border-radius: 20px;
}
.item2 {
  background-color: cyan;
  border-radius: 20px;
}
.descripcion {
  font-size: 15px;
}*/

