.checkoutProduct{
    display: flex;
    justify-content: space-around;
}
#checkcontainer {
    margin-top: 200px;
}

#checkOutTotal{
    text-align: end;
    margin-right: 132px;
}

#checkoutButton{
    text-align: center;
    font-size: 2em;
}

h3{
    text-align: center;
}